@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold mt-8 mb-4;
  }

  h2 {
    @apply text-2xl font-bold mt-6 mb-3;
  }

  h3 {
    @apply text-xl font-bold mt-4 mb-2;
  }

  p {
    margin: 1rem 0;
  }

  .code-label {
    margin-top: 1rem;
    background-color: #333;
    color: #eee;
    text-align: right;
    padding-right: 0.5rem;
    font-family: 'Courier New', Courier;
    font-size: 16px;
  }
  pre code {
    margin: 0 0 1rem 0;
  }

  p code {
    background-color: #fec;
    font-family: 'Courier New', Courier;
    padding: 0 0.25rem;
  }

  .no-top {
    @apply mt-0;
  }

  .font-system {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
      Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
      Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .tramlined {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
  }

  .smjg-link {
    @apply text-gray-500 hover:underline hover:text-gray-700;
  }
}

@layer components {
  .article-ribbon {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      position: absolute;
      display: inline-block;
      transform: rotate(315deg);
      transform-origin: center;
      width: 120px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      background-color: #b22;
      color: #fff;
      left: -32px;
      top: 16px;
      text-align: center;
      content: 'Article';
      z-index: 2;
      opacity: 0.8;
    }
  }
  .note-ribbon {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      position: absolute;
      display: inline-block;
      transform: rotate(315deg);
      transform-origin: center;
      width: 120px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      background-color: #227;
      color: #fff;
      left: -32px;
      top: 16px;
      text-align: center;
      content: 'Note';
      z-index: 2;
      opacity: 0.85;
    }
  }
}
